<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>
	<div align="left" class="container my-2">


		<h1>Welcome to Shopping.com</h1>
		<h4>
			<a th:href="@{/}">home</a>
		</h4>


		<tr th:each="order : ${orders}">
			<div class="d-flex">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<p class="card-text" th:text="${order.productName}">Shopping
							Choice</p>
					</div>
				</div>
				<div class="ml-auto p-2">
					<div class="d-flex">
					<div class="ml-auto "><h2>
			<a th:href="@{/addProductDBMinus/{id}(id=${order.product.productId})}" class="btn btn-primary btn-sm mb-2">
				-</a>
		</h2></div>
						<div class="p-2"><h6 th:text="${order.productCount}">loading</h6></div>
						
						<div class="ml-auto "><h2>
			<a th:href="@{/addProductDBPlus/{id}(id=${order.product.productId})}" class="btn btn-primary btn-sm mb-2">
				+</a>
		</h2></div>
					</div>
				</div>
			</div>
		</tr>


	</div>
</body>
</html>